:root {
    --light-primary-color: #FFCCBC;
    --dark-primary-color: #D32F2F;
    --primary-color: #F44336;
    --text: #FFFFFF;
    --accent-color: #607D8B;
    --primary-text: #212121;
    --secondary-text: #757575;
    --divider-color: #BDBDBD;
    /* light=300 bold=700 extra-bold=800 */
    --text-font: 'Open Sans'; 
}

body {
    margin: 0;
    padding: 0;
    background: var(--light-primary-color);
    color: var(--primary-text);
    font-family: var(--text-font);
}
h1, h2, h3, h4, h5 {
    font-weight: 300;
}

h1 { 
    font-size: 40px;
    line-height: 1;
    letter-spacing: -2px;
    color: var(--text);
}

h2 {
    color: var(--text);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 30;
    margin-bottom: 60px;
}

.header {
    background: var(--dark-primary-color);
    color: var(--primary-text);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    display: flex;
    padding: 0;
}

.header ul li {
    padding: 0px 10px;
    font-weight: 700;
}

nav ul li {
    list-style: none;
}

.header a {
    color: var(--text);
    text-decoration: none;
}

.header figure {
    margin: 4px 10px;
}

.hero {
    /* border: 1px solid black; */
    height: 300px;
    background: var(--primary-color);
    background-image: url("../img/foto1.jpg");
    background-repeat: no-repeat;
    background-size: 500px auto;
    background-position-x: right;
    display: flex;
    align-items: center;
}

.portafolio {
    background: var(--accent-color);
    padding: 40px;
}

.project {
    border: 1px solid var(--divider-color);
    border-radius: 20px;
    margin: 40px;
    background: whitesmoke;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-details {
    /* border: 1px solid black; */
    width: 500px;
}

.project-title {
    font-size: 32px;
    margin-top: 0px;
}

.project-subtitle, .project-date, .project-url {
    margin: 10px 0;
}

.project-description { 
    font-size: 20px;
}

.project-img-container {
    /* border: 1px solid #607D8B; */
    width: 400px;
}

.footer {
    background: #757575;
    display: flex;
    justify-content: space-between;
}

.footer p {
    padding: 5px 15px;
    font-size: 16px;
    color: var(--text);
    font-weight: 700;
}

.footer p a {
    text-decoration: none;
    color: var(--text);
}