:root {
    --light-primary-color: #FFCCBC;
    --dark-primary-color: #D32F2F;
    --primary-color: #F44336;
    --text: #FFFFFF;
    --accent-color: #607D8B;
    --primary-text: #212121;
    --secondary-text: #757575;
    --divider-color: #BDBDBD;
    /* light=300 bold=700 extra-bold=800 */
    --text-font: 'Open Sans'; 
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    color: var(--text);
    font-family: var(--text-font);
}

h1 { 
    font-size: 40px;
    line-height: .8;
    letter-spacing: -2px;
}

.hero {
    border: 1px solid black;
    height: 300px;
}

header {
    background: var(--dark-primary-color);
    color: var(--text);
}

.header a {
    color: var(--text);
    text-decoration: none;
}

.project-details {
    border: 1px solid black;
    width: 500px;
}

.project-img-container {
    border: 1px solid #607D8B;
    width: 400px;
}
